body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;
}

#map {
  width: 100vw;
  height: 100vh;
}

.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255 255 255 / 60%);
  pointer-events: all;
  cursor: wait;
}

mat-card {
  z-index: 999;
  position: absolute;
  top: 4%;
  right: 2%;
  width: 15%;
}

mat-form-field {
  display: block;
}

#bottomField {
  margin-bottom: -1.25em;
}

.field {
  margin-bottom: -0.625em;
}

h1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: xx-large;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  // #map {
  //   width: 100vw;
  //   height: 100vh;
  // }

  mat-card {
    right: 3%;
    top: 2%;
    width: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  // #map {
  //   width: 100vw;
  //   height: 100vh;
  // }

  mat-card {
    width: 35%;
  }
}

@media only screen and (max-width: 800px) {
  // #map {
  //   width: 119vw;
  //   height: 119vh;
  // }

  mat-card {
    right: 2%;
    top: 2%;
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  mat-card {
    right: 2%;
    top: 2%;
    width: 55%;
  }
}
