#dMap {
  width: 43vw;
  height: 50vh;
  display: inline-block;
  margin-left: 0.5vw;
}

#dChart {
  width: 43vw;
  height: 50vh;
  display: inline-block;
  background-color: #F6F6F6;
  margin-right: 0.5vw;
}

#dFilter {
  width: 85.3vw;
  height: 10vh;
  display: block;
  padding-bottom: 1vh;
}

.field {
  margin-bottom: -1.25em;
}

#info {
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0vh;
}

#card {
  width: 85.3vw;
  padding-bottom: 1%;
}

#legend {
  height: 60px;
  width: 360px;
  vertical-align: middle;
  // background-color: gray;
  display: inline-flex;
}