#dMap {
  width: 30vw;
  height: 50vh;
  display: inline-block;
  margin-left: 0.5vw;
}
#dChart {
  width: 30vw;
  height: 50vh;
  display: inline-block;
  background-color: #F6F6F6;
  margin-right: 0.5vw;
}
#dFilter {
  width: 60vw;
  height: 10vh;
  display: block;
}
.field {
  margin-bottom: -1.0em;
}
