<div mat-dialog-content>
  <h2>CID:{{CID}}, Start Date:{{startDate}}, End Date:{{endDate}}, Total Fishing Hours:{{tfh}} </h2>
  <div id="dFilter">
    <mat-card>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Select Time Interval Duration</mat-label>
        <mat-select [(value)]="dIntervalScale" (valueChange)="onChangeDialog($event)">
          <mat-option value="week">Week</mat-option>
          <mat-option value="month">Month</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Select Map Scaling</mat-label>
        <mat-select [(value)]="mapScaleDialog" (valueChange)="onChangeMapScale($event)">
          <mat-option value="linear">Linear Scaling</mat-option>
          <mat-option value="sqrt">Square Root Scaling</mat-option>
          <mat-option value="log">Logarithmic Scaling</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Select Chart Scaling</mat-label>
        <mat-select [(value)]="chartScaleDialog" (valueChange)="onChangeChartScale($event)">
          <mat-option value="linear">Linear Scaling</mat-option>
          <mat-option value="sqrt">Square Root Scaling</mat-option>
          <mat-option value="log">Logarithmic Scaling</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <button mat-raised-button><</button>
      <button mat-raised-button>></button> -->

    </mat-card>
  </div>
  <div id="dChart">
  </div>
  <div id="dMap"></div>
</div>
